/*------------------------------------------*/
/*FEUILLE DE STYLE POUR LA PAGE etage_2.html*/
/*------------------------------------------*/

/* -- Style du contenu de manière générale -- */
header{
    align-items: center;
}
.btn_accueil{
    position: absolute;
    top: 0px;
    left: 0px;
}

.contenu{
    display : flex;
    flex-wrap: wrap;
    flex-direction : row;
    justify-content: space-around;
}

/* -- Définition du plan comme fond de la division plan -- */
.plan{
    background-image: url("../images/plan_etage_1.png");
    width : 493px;
    height : 490px;
}

/** --------------------------------------------------------------------------- **/
/** -- STYLE DES BOUTONS DÉFINISSANT LE DIFFÉRENTES ZONES CLIQUABLES DU PLAN -- **/
/* caractère relatif de la position de la disivion contenant le bouton */
/* affichage, couleur et opacité du bouton */
/** --------------------------------------------------------------------------- **/

/* position relative pour toutes les divisions de zones pour pouvoir les placer sur le plan */


.sco{
    position : relative;
}
.btn_sco{
    background-color: grey;
    border-radius: 7px;
    opacity: 0.7;
}

.tp{
    position : relative;
}
.btn_tp{
    background-color: #ff9544;
    border-radius: 7px;
    opacity: 0.7;
}

.amphi{
    position : relative;
}
.btn_amphi{
    background-color: violet;
    border-radius: 7px;
    opacity: 0.7;
}


.td{
    position : relative;
}
.btn_td{
    background-color: #1f98a3;
    border-radius: 7px;
    opacity: 0.7;
}

.toilettes{
    position: relative;
}
.btn_toilettes{
    background-color: black;
    border-radius: 7px;
    opacity: 0.7;
}


/** ---------------------------------------------------------------------------------- **/
/** -- FIN DU STYLE DES BOUTONS DÉFINISSANT LE DIFFÉRENTES ZONES CLIQUABLES DU PLAN -- **/
/** ---------------------------------------------------------------------------------- **/



/** ---------------------------------- **/
/** -- STYLE ET ACTIONS DES BOUTONS -- **/
/** ---------------------------------- **/


/*Position et taille de la division contenant le bouton*/
#C102{ top: 73px; left: 140px; width: 66px; height: 50px;}
#btn_C102{
    width: 71px; height: 56px; 
}

#C103{ top: 23px; left: 62px; width: 73px; height: 50px;}
#btn_C103{
    width: 78px; height: 56px; 
}

#C105{ bottom: 18px; left: 1px; width: 64px; height: 50px;}
#btn_C105{
    width: 64px; height: 47px; 
}

#C107{ bottom: 144px; left: 1px; width: 64px; height: 50px;}
#btn_C107{
    width: 212px; height: 56px; 
}

#toilettes{ bottom: 195px; left: 232px; width: 64px; height: 50px;}
#btn_toilettes{
    width: 22px; height: 58px; 
}

#C114{ bottom: 244px; left: 253px; width: 64px; height: 50px;}
#btn_C114{
    width: 62px; height: 56px; 
}

#C115{ bottom: 294px; left: 314px; width: 64px; height: 50px;}
#btn_C115{
    width: 43px; height: 56px; 
}

#C116{ bottom: 344px; left: 355px; width: 64px; height: 50px;}
#btn_C116{
    width: 84px; height: 56px; 
}

#C119{ bottom: 327px; left: 313px; width: 64px; height: 50px;}
#btn_C119{
    width: 146px; height: 57px; 
}

#B104{ bottom: 261px; left: 244px; width: 64px; height: 50px;}
#btn_B104{
    width: 35px; height: 55px; 
}

#B120{ bottom: 309px; left: 72px; width: 64px; height: 50px;}
#btn_B120{
    width: 100px; height: 75px; 
}

#sco{ bottom: 233px; left: 191px; width: 64px; height: 50px;}
#btn_sco{
    width: 43px; height: 63px; 
}


/** ----------------------------------------- **/
/** -- FIN DU STYLE ET ACTIONS DES BOUTONS -- **/
/** ----------------------------------------- **/




/** ------------------------------------------------ **/
/** -- STYLE DE LA PARTIE LÉGENDE ET EXPLICATIONS -- **/
/** ------------------------------------------------ **/

/*Réglage de l'organisation de l'affichage de cette partie*/
.details{
    display : flex; 
    flex-direction : column;
    width : 400px;
    /*background-color: antiquewhite;*/
    padding: 15px;
}


/*Style des éléments individuels de la légende*/
.legend{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}

/*RÉGLAGE DES CARRÉS DE COULEURS POUR LA LÉGENDE*/

#legende_sco{
    background-color: grey;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_bureaux{
    background-color: white;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_tp{
    background-color: #ff9544;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_amphi{
    background-color: violet;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_td{
    background-color: #1f98a3;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_toilettes{
    background-color: black;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}

/*FIN DU RÉGLAGE DES CARRÉS DE COULEURS POUR LA LÉGENDE*/

/** ------------------------------------------------------- **/
/** -- FIN DU STYLE DE LA PARTIE LÉGENDE ET EXPLICATIONS -- **/
/** ------------------------------------------------------- **/



/** ------------------------------------- **/
/** -- STYLE DE LA PARTIE EXPLICATIONS -- **/
/** ------------------------------------- **/

.description{
    display : none;
}


/** -------------------------------------------- **/
/** -- FIN DU STYLE DE LA PARTIE EXPLICATIONS -- **/
/** -------------------------------------------- **/