/*------------------------------------------*/
/*FEUILLE DE STYLE POUR LA PAGE etage_2.html*/
/*------------------------------------------*/

/* -- Style du contenu de manière générale -- */
.contenu{
    display : flex;
    flex-direction : row;
    justify-content: space-around;
}

/* -- Définition du plan comme fond de la division plan -- */
.plan{
    background-image: url("../images/plan_etage_2.png");
    width : 600px;
    height : 600px;
}

/** --------------------------------------------------------------------------- **/
/** -- STYLE DES BOUTONS DÉFINISSANT LE DIFFÉRENTES ZONES CLIQUABLES DU PLAN -- **/
/* caractère relatif de la position de la disivion contenant le bouton */
/* affichage, couleur et opacité du bouton */
/** --------------------------------------------------------------------------- **/

.APP{
    position : relative;
    background-color: red;
}

.info{
    position : relative;
    background-color: blue;
}


.info_libre{
    position : relative;
    background-color: green;
}

.polybot{
    position : relative;
    background-color: pink;
}

.elec{
    position : relative;
    background-color: orange;
}


.decloi{
    position : relative;
    background-color: purple;
}


.TD{
    position : relative;
    background-color: violet;
}


/** ---------------------------------------------------------------------------------- **/
/** -- FIN DU STYLE DES BOUTONS DÉFINISSANT LE DIFFÉRENTES ZONES CLIQUABLES DU PLAN -- **/
/** ---------------------------------------------------------------------------------- **/



/** ---------------------------------- **/
/** -- STYLE ET ACTIONS DES BOUTONS -- **/
/** ---------------------------------- **/


/*Position et taille de la division contenant le bouton*/
#C202{ top: 164px; left: 202px; width: 66px; height: 50px;}
#btn_C202{
    width: 66px; height: 50px; 
}


#A205{ top: 287px; left: 513px; width: 25px; height: 40px; }
#btn_A205{
    width: 25px; height: 40px;
}


#A217{ top: 300px; left: 440px; width: 53px; height: 30px;}
#btn_A217{
    width: 53px; height: 30px;
}


#C213{ bottom: 20px; left: 315px; width: 56px; height: 50px; }
#btn_C213{
    width: 56px; height: 50px;
}


#C214{ bottom: 70px; left: 375px; width: 56px; height: 50px; }
#btn_C214{
    width: 56px; height: 50px;
}


#C215{ bottom: 120px; left: 437px; width: 56px; height: 50px; }
#btn_C215{
    width: 56px; height: 50px;
}


#C216{ bottom: 103px; left: 435px; width: 58px; height: 50px; }
#btn_C216{
    width: 58px; height: 50px;
}


#C217{ bottom: 154px; left: 394px; width: 37px; height: 50px; }
#btn_C217{
    width: 37px; height: 50px;
}


#C209{ bottom: 272px; left: 201px; width: 35px; height: 50px; }
#btn_C209{
    width: 35px; height: 50px;
}


#C210{ bottom: 322px; left: 237px; width: 32px; height: 50px; }
#btn_C210{
    width: 32px; height: 50px;
}


#B205{ bottom: 137px; left: 271px; width: 32px; height: 40px; }
#btn_B205{
    width: 32px; height: 40px;
}


#A202{ bottom: 175px; left: 340px; width: 76px; height: 36px; }
#btn_A202{
    width: 76px; height: 36px;
}


#C206{ bottom: 450px; left: 65px; width: 96px; height: 52px; }
#btn_C206{
    width: 96px; height: 52px;
}


#C208{ bottom: 503px; left: 163px; width: 36px; height: 54px; }
#btn_C208{
    width: 36px; height: 54px;
}

#C203{ bottom: 490px; left: 63px; width: 136px; height: 54px; }
#btn_C203{
    width: 136px; height: 54px;
}

#A203{ bottom: 370px; left: 420px; width: 90px; height: 40px; }
#btn_A203{
    width: 90px; height: 40px; 
}

/** ----------------------------------------- **/
/** -- FIN DU STYLE ET ACTIONS DES BOUTONS -- **/
/** ----------------------------------------- **/




/** ------------------------------------------------ **/
/** -- STYLE DE LA PARTIE LÉGENDE ET EXPLICATIONS -- **/
/** ------------------------------------------------ **/

/*Réglage de l'organisation de l'affichage de cette partie*/
.details{
    display : flex; 
    flex-direction : column;
    width : 600px;
}


/*Style des éléments individuels de la légende*/
.legend{
    display : flex;
    flex-direction: row;
    justify-content:flex-start;
    align-self:flex-start;
}

/*RÉGLAGE DES CARRÉS DE COULEURS POUR LA LÉGENDE*/

#legende_app{
    background-color: red;
    width : 20px;
    height : 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_info{
    background-color: blue;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_info_libre{
    background-color: turquoise;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_polybot{
    background-color: rgb(224, 70, 96);
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_bureaux{
    background-color: white;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_elec{
    background-color: orange;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_decloi{
    background-color: purple;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_td{
    background-color: violet;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}

/*FIN DU RÉGLAGE DES CARRÉS DE COULEURS POUR LA LÉGENDE*/

/** ------------------------------------------------------- **/
/** -- FIN DU STYLE DE LA PARTIE LÉGENDE ET EXPLICATIONS -- **/
/** ------------------------------------------------------- **/



/** ------------------en cours------------------- **/
/** -- STYLE DE LA PARTIE EXPLICATIONS -- **/
/** -------------------en cours------------------ **/

.description{
    display : none;
}


/** -----------------en cours--------------------------- **/
/** -- FIN DU STYLE DE LA PARTIE EXPLICATIONS -- **/
/** -----------------en cours--------------------------- **/