/*------------------------------------------*/
/*FEUILLE DE STYLE POUR LA PAGE etage_2.html*/
/*------------------------------------------*/

/* -- Style du contenu de manière générale -- */
.contenu{
    display : flex;
    flex-wrap: wrap;
    flex-direction : row;
    justify-content: space-around;
}

/* -- Définition du plan comme fond de la division plan -- */
.plan{
    background-image: url("../images/plan_etage_2.png");
    width : 493px;
    height : 490px;
}

/** --------------------------------------------------------------------------- **/
/** -- STYLE DES BOUTONS DÉFINISSANT LE DIFFÉRENTES ZONES CLIQUABLES DU PLAN -- **/
/* caractère relatif de la position de la disivion contenant le bouton */
/* affichage, couleur et opacité du bouton */
/** --------------------------------------------------------------------------- **/

/* position relative pour toutes les divisions de zones pour pouvoir les placer sur le plan */
.APP{
    position : relative;
}
/* styles des boutons par classe pour homogénéiser l'apparence */
.btn_APP{
    background-color: red;
    border-radius: 7px;
    opacity: 0.7;    
}

.info{
    position : relative;
}
.btn_info{
    background-color: blue;
    border-radius: 7px;
    opacity: 0.7;    
}


.info_libre{
    position : relative;
}
.btn_info_libre{
    background-color: green;
    border-radius: 7px; 
    opacity: 0.7;   
}

.polybot{
    position : relative;
}
.btn_polybot{
    background-color: pink;
    border-radius: 7px;
    opacity: 0.7;
}

.elec{
    position : relative;
}
.btn_elec{
    background-color: orange;
    border-radius: 7px;
    opacity: 0.7;
}


.decloi{
    position : relative;
}
.btn_decloi{
    background-color: purple;
    border-radius: 7px;
    opacity: 0.7;
}


.TD{
    position : relative;
}
.btn_TD{
    background-color: violet;
    border-radius: 7px;
    opacity: 0.7;
}

.toilettes{
    position: relative;
}
.btn_toilettes{
    background-color: black;
    border-radius: 7px;
    opacity: 0.7;
}


/** ---------------------------------------------------------------------------------- **/
/** -- FIN DU STYLE DES BOUTONS DÉFINISSANT LE DIFFÉRENTES ZONES CLIQUABLES DU PLAN -- **/
/** ---------------------------------------------------------------------------------- **/



/** ---------------------------------- **/
/** -- STYLE ET ACTIONS DES BOUTONS -- **/
/** ---------------------------------- **/


/*Position et taille de la division contenant le bouton*/
#C202{ top: 73px; left: 141px; width: 66px; height: 50px;}
/* taille du bouton dans la division */
#btn_C202{
    width: 71px; height: 56px; 
}


#A205{ top: 197px; left: 453px; width: 25px; height: 40px; }
#btn_A205{
    width: 28px; height: 41px;
}


#A217{ top: 212px; left: 380px; width: 53px; height: 30px;}
#btn_A217{
    width: 57px; height: 31px;
}


#C213{ bottom: 111px; left: 255px; width: 56px; height: 50px; }
#btn_C213{
    width: 61px; height: 55px;
}


#C214{ bottom: 161px; left: 315px; width: 56px; height: 50px; }
#btn_C214{
    width: 61px; height: 55px;
}


#C215{ bottom: 211px; left: 375px; width: 56px; height: 50px; }
#btn_C215{
    width: 61px; height: 55px;
}


#C216{ bottom: 195px; left: 373px; width: 58px; height: 50px; }
#btn_C216{
    width: 63px; height: 56px;
}


#C217{ bottom: 245px; left: 333px; width: 37px; height: 50px; }
#btn_C217{
    width: 42px; height: 56px;
}


#C209{ bottom: 365px; left: 139px; width: 35px; height: 50px; }
#btn_C209{
    width: 37px; height: 55px;
}


#C210{ bottom: 415px; left: 174px; width: 32px; height: 50px; }
#btn_C210{
    width: 36px; height: 55px;
}


#B205{ bottom: 224px; left: 212px; width: 32px; height: 40px; }
#btn_B205{
    width: 32px; height: 40px;
}


#A202{ bottom: 265px; left: 278px; width: 78px; height: 36px; }
#btn_A202{
    width: 82px; height: 42px;
}


#C206{ bottom: 540px; left: 5px; width: 96px; height: 52px; }
#btn_C206{
    width: 99px; height: 55px;
}


#C208{ bottom: 592px; left: 101px; width: 36px; height: 54px; }
#btn_C208{
    width: 39px; height: 55px;
}

#C203{ bottom: 578px; left: 5px; width: 136px; height: 54px; }
#btn_C203{
    width: 136px; height: 54px;
}

#A203{ bottom: 460px; left: 360px; width: 90px; height: 40px; }
#btn_A203{
    width: 93px; height: 41px; 
}

.toilettes{
    bottom: 737px; left: 235px; width: 30px; height: 400px;
}
.btn_toilettes{
    width: 20px; height: 54px;
}

/** ----------------------------------------- **/
/** -- FIN DU STYLE ET ACTIONS DES BOUTONS -- **/
/** ----------------------------------------- **/




/** ------------------------------------------------ **/
/** -- STYLE DE LA PARTIE LÉGENDE ET EXPLICATIONS -- **/
/** ------------------------------------------------ **/

/*Réglage de l'organisation de l'affichage de cette partie*/
.details{
    display : flex; 
    flex-direction : column;
    width : 400px;
}


/*Style des éléments individuels de la légende*/
.legend{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}

/*RÉGLAGE DES CARRÉS DE COULEURS POUR LA LÉGENDE*/

#legende_app{
    background-color: red;
    width : 20px;
    height : 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_info{
    background-color: blue;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_info_libre{
    background-color: turquoise;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_polybot{
    background-color: rgb(224, 70, 96);
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_bureaux{
    background-color: white;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_elec{
    background-color: orange;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_decloi{
    background-color: purple;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_td{
    background-color: violet;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}
#legende_toilettes{
    background-color: black;
    width: 20px;
    height: 15px;
    border : solid 1px black;
    margin-right: 2px;
}

/*FIN DU RÉGLAGE DES CARRÉS DE COULEURS POUR LA LÉGENDE*/

/** ------------------------------------------------------- **/
/** -- FIN DU STYLE DE LA PARTIE LÉGENDE ET EXPLICATIONS -- **/
/** ------------------------------------------------------- **/



/** ------------------------------------- **/
/** -- STYLE DE LA PARTIE EXPLICATIONS -- **/
/** ------------------------------------- **/

.description{
    display : none;
}


/** -------------------------------------------- **/
/** -- FIN DU STYLE DE LA PARTIE EXPLICATIONS -- **/
/** -------------------------------------------- **/